<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>search_recommend_AD</key>
	<false/>
	<key>youtube_api_key_GrE</key>
	<string>AIzaSyARkNp0Z_zNFCuLhdJX8EHdDmYBwJcYFFM</string>
	<key>youtube_api_key_GrD</key>
	<string>AIzaSyBvGPRMVkQsiVKbCxyazEG4C4P8GPVh1Xw</string>
	<key>youtube_api_key_GrC</key>
	<string>AIzaSyDgoDGl5YPYU5B1Qb5dCgPe5KIhcV5d_Sk</string>
	<key>youtube_api_key_GrB</key>
	<string>AIzaSyBbOP8k9Yp2V5IbJIGt4eWjTn447CRAGzM</string>
	<key>youtube_api_key_Select</key>
	<integer>0</integer>
	<key>youtube_api_key_change_flg</key>
	<false/>
	<key>youtube_api_key_second</key>
	<string>AIzaSyDHYyjvdtXSKLMWXugFmBDNDJq5VYDHs4Q</string>
	<key>youtube_api_key</key>
	<string>AIzaSyDaJJbHaRfNcnY1T3hZDfIY2wgXBL8w2HY</string>
	<key>search_MV_AD_interstitial_interval</key>
	<integer>3</integer>
	<key>youtube_mode</key>
	<integer>1</integer>
	<key>music_library_interstitial_interval</key>
	<integer>5</integer>
	<key>ad_display_youtube_contents</key>
	<integer>5</integer>
	<key>max_text_trans_num</key>
	<integer>2000</integer>
	<key>scan_ad_interval</key>
	<integer>1</integer>
	<key>scan_mode</key>
	<integer>1</integer>
	<key>search_result_MV_AD_interval</key>
	<integer>3</integer>
	<key>search_result_MV_AD_start</key>
	<integer>3</integer>
	<key>introduction_url</key>
	<string>https://itunes.apple.com/jp/app/apple-store/id1288959420</string>
	<key>ad_display_five_test_mode</key>
	<false/>
	<key>review_flg</key>
	<false/>
	<key>app_review_url</key>
	<string>https://itunes.apple.com/us/app/itunes-u/id1288959420?action=write-review</string>
	<key>line_introduction_message</key>
	<string>【musicA 】音楽無料で聴き放題！倍速再生、歌詞の編集も可能な音楽再生アプリです♪ itunes.apple.com/jp/app/apple-store/id1288959420</string>
	<key>ad_display_music_register_track_banner</key>
	<true/>
	<key>ad_display_music_register_album_banner</key>
	<true/>
	<key>ad_display_music_lyric_edit_banner</key>
	<true/>
	<key>ad_display_ranking_contents</key>
	<true/>
	<key>ad_display_musiclibrary_contents</key>
	<true/>
	<key>ad_display_ranking_banner</key>
	<true/>
	<key>ad_display_search_contents</key>
	<false/>
	<key>ad_display_search_banner</key>
	<true/>
	<key>search_result_AD_interval</key>
	<integer>3</integer>
	<key>search_result_AD_start</key>
	<integer>3</integer>
	<key>alert_flg</key>
	<false/>
	<key>apitestset</key>
	<string>文字列の表示確認</string>
	<key>apltest</key>
	<string>musica</string>
	<key>latest_version</key>
	<string>2.6.0</string>
	<key>base_version</key>
	<string>2.4.6</string>
	<key>ad_display_rankingInter_interval</key>
	<integer>5</integer>
</dict>
</plist>
