<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>musica.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CC5920B1EA37E6D00BD5A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CC592211EA37E6D00BD5A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CC5922C1EA37E6D00BD5A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
