<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>musica.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
				<key>dateExpires</key>
				<string>2020/12/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AvailableHapticFeedback.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BubbleTransition.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DGElasticPullToRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Instructions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MultiSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>QuickLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RAMAnimatedTabBarController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReachabilitySwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SWTableViewCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SlideMenuControllerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SweeterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftGifOrigin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyStoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TransitionableTab.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>XCDYouTubeKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YoutubePlayer_in_WKWebView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB2B2C427FC43809981BC54F5B0981DB969779B</string>
						<key>dateExpires</key>
						<string>2020/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SCU9EZ2EKX.kuriFCTmusica</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SCU9EZ2EKX</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>musica.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f3c7007f-83cc-4fe8-8270-5baf0a860511</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: kuriFCTmusica</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SCU9EZ2EKX</string>
				<key>name</key>
				<string>Takahiro Kuribayashi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
